<ion-view title="Committees" id="page26" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="committees-form9" class="list">
      <h4 id="committees-heading20" style="color:#000000;text-align:center;">Would you like to volunteer for any Committees?</h4>
      <ion-checkbox id="committees-checkbox1" name="B">Blue and Silver Bash</ion-checkbox>
      <ion-checkbox id="committees-checkbox2" name="B">Scholarship</ion-checkbox>
      <ion-checkbox id="committees-checkbox3" name="B">OEHS Silver Celebration</ion-checkbox>
      <ion-checkbox id="committees-checkbox4" name="B">Fundraising</ion-checkbox>
      <ion-checkbox id="committees-checkbox5" name="B">Volunteer Incentive</ion-checkbox>
      <a href-inappbrowser="page27" id="committees-button10" class="button button-energized button-block">Next &gt;&gt;</a>
    </form>
  </ion-content>
</ion-view>