<ion-view title="Preferences" id="page21" style="background-color:#000080;">
  <ion-content padding="true" class="has-header">
    <h5 id="preferences-heading12" style="color:#FFFFFF;font-weight:400;">Information</h5>
    <ion-list id="preferences-list11">
      <ion-item id="preferences-list-item18" href-inappbrowser="https://www.facebook.com/OeWolfParents/">Follow us on Facebook</ion-item>
      <ion-item id="preferences-list-item22">Follow us on Twitter</ion-item>
      <ion-item id="preferences-list-item24" href-inappbrowser="https://www.sd308.org/oehs">Oswego East High School</ion-item>
    </ion-list>
  </ion-content>
</ion-view>