<ion-view title="Student Information" id="page25" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="studentInformation-form13" class="list">
      <label class="item item-input" id="studentInformation-input16" name="Student1">
        <input type="text" placeholder="Student 1 Name">
      </label>
      <label class="item item-select" id="studentInformation-select2">
        <span class="input-label">Grad Year</span>
        <select>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
        </select>
      </label>
      <label class="item item-input" id="studentInformation-input17" name="Student2">
        <input type="text" placeholder="Student 2 Name">
      </label>
      <label class="item item-select" id="studentInformation-select3">
        <span class="input-label">Grad Year</span>
        <select>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
        </select>
      </label>
      <label class="item item-input" id="studentInformation-input18" name="Student3">
        <input type="text" placeholder="Student 3 Name">
      </label>
      <label class="item item-select" id="studentInformation-select4">
        <span class="input-label">Grad Year</span>
        <select>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
        </select>
      </label>
    </form>
    <a ui-sref="committees()" id="studentInformation-button9" class="button button-positive button-block">Next &gt;&gt;</a>
  </ion-content>
</ion-view>