<ion-view title="Teachers">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <div style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000080;font-size:26px;">OE Wolf Parent Portal</p>
      </div>
      <label class="item item-input text-area" name="Message">
        <span class="input-label"></span>
        <textarea placeholder="" ng-model="$parent.data.message"></textarea>

      </label>
    </form>
    <button ng-click="submitNeed()" class="button button-energized button-block">Send</button>
  </ion-content>
</ion-view>