<ion-view title="Teacher Notes" id="page10">
  <ion-content padding="true" class="has-header">
    <h4 id="teacherNotes-heading21" style="color:#000000;"> Welcome Teachers, Coaches, Club &amp; Organization Sponsors of Oswego East High School to the OE Wolf Parent Portal! </h4>
    <div id="teacherNotes-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;"> Please use this to notify us of any of the following:</p>
    </div>
    <div id="teacherNotes-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Teacher Wish List</strong> (Items you need for your classroom) We'll do our best to get these items donated from our Wolf Parent Community and will notify you when they are available.</p>
    </div>
    <div id="teacherNotes-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Teachers</strong>: Let us know great things that are happening in your classroom. Have a student of the week or month you'd like to acknowledge? Send us good news that we can share with our Wolf community!</p>
    </div>
    <div id="teacherNotes-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Coaches</strong>: Scores and updates on games and schedules. Notify us of any upcoming fundraisers and how we can help publicize for you, and if you need any volunteers to help. We would love to publicize your community service projects and good
        news on student accomplishments!</p>
    </div>
    <div id="teacherNotes-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Club &amp; Organization sponsors</strong>: Notify us on events, good news on projects, upcoming fundraisers and when you have meetings. Tell us about your group and we'll put out the word so more students can learn what your group is all about.
        </p>
    </div>

    <!--<ion-checkbox [(ngModel)]="$parent.doNotShow" (ionChange)="updatePreference();">  <ion-label>Do not show again</ion-label></ion-checkbox>-->
    <a ui-sref="teachers()" id="teacherNotes-button11" class="button button-energized button-block">Go!</a>
  </ion-content>
</ion-view>
